* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f172a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size:25px;
    font-weight: bold;
  }
  
  .container {
    background: #1e293b;
    padding: 2rem;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.2);
    position: relative;
    
  }
  
  h1 {
    color: #0ff;
    margin-bottom: 1rem;
  }
  
  .progress-container {
    width: 100%;
    background: #334155;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 10px;
    background: #0ff;
    width: 0%;
    transition: width 0.3s ease;
  }
  
  .timer {
    background: #0ff;
    color: #000;
    width: 50px;
    margin: 0 auto 1rem;
    padding: 0.3rem;
    border-radius: 50%;
    font-weight: bold;
  }
  
  .quiz-box, .result-box {
    display: none;
  }
  
  .quiz-box.active, .result-box.active {
    display: block;
  }
  
  .question {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option-btn {
    background-color: #334155;
    color: #fff;
    border: none;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
  }
  
  .option-btn:hover {
    background-color: #475569;
    transform: scale(1.05);
  }
  
  .option-btn.correct {
    background-color: #16a34a;
  }
  
  .option-btn.wrong {
    background-color: #dc2626;
  }
  
  .next-btn, .restart-btn {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    background-color: #0ff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .next-btn:hover, .restart-btn:hover {
    background-color: #06b6d4;
    
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  